body{
    height: 100vh;
      margin: 0;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 10px 40px;

}
.nav-links {
  display: flex;
  gap: 150px;
  list-style: none;
  margin-right: 300px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.logo {
height: 55px;
width: 55px;
cursor: pointer;
margin-left: 80px;
}
